div {
    padding-top: 3em;
}
h1 {
    font-family: verdana;
    color: lightsalmon;
    font-size:5em;
    margin-left: 2em;
}
div {
    padding-top: 5em;
}
h2 {
    font-family: cambria;
    color: black;
    font-size:3em;
    margin-left: 2em;
}
p {
    margin-left: 2em;
}