/* HAMBURGER SIDEBAR */
.sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #597692; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}

  /* menu items */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F0EAE0;
    display: block;
    transition: 0.3s;
}

  /* change color when hovering menu items */
.sidebar a:hover {
    color: #CD6767;
}

  /* positioning and styling the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* hamburger to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #597692;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 15px;
}

.openbtn:hover {
    background-color: #597692;
}
/* HAMBURGER SIDEBAR END */









h1 {
    font-family: verdana;
    color: #597692;
    font-size:3em;
    margin-left: 15px;
}



img {
    max-width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}


div.gallery {
    float: left;
    width:fit-content;
    text-align: center;
}

div.gallery:hover {
    border: 0px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    margin:0;
    padding: 15px;
    text-align: center;
}