/* HAMBURGER SIDEBAR */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #597692; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

  /* menu items */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F0EAE0;
    display: block;
    transition: 0.3s;
}

  /* change color when hovering menu items */
.sidebar a:hover {
    color: #CD6767;
}

  /* positioning and styling the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* hamburger to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #597692;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
/* HAMBURGER SIDEBAR END */


/* Hi my name is*/
h1 {
    font-family: verdana;
    color: #597692;
    font-size:3em;
}
/* Hi my name is end*/

/* Undergrad UXID */
h2 {
    font-family: 'Gill Sans';
    color: #597692;
    font-size:1em;
}
/* Undergrad UXID end*/

/* Check out my work */
h3 {
    font-family:'Franklin Gothic Medium';
    color:#CD6767;
    text-align: center;
    padding-top: 2em;
}
/* Check out my work end*/


/* Short bio about me */
#section1 {
    font-family: Verdana;
    font-size:1em;
    line-height: 1.5;
    color: #706A63;
}

.section1-image {
    padding-bottom:1em;
}
/* Short bio about me end */


/* Photog button */
.container {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #597692;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Photog button end */

#section2 {
    font-family: Verdana;
    font-size:1em;
    color: #706A63;
    text-align: center;
}