  /* Tab */
  .topnav {
    overflow: hidden;
    background-color: #ae1414;
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 200px;
    font-family: calibri;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #CD6767;
    color: white;
}
</style>
</head>
<body>


 /* Tab */


h1 {
    font-family: verdana;
    color: rgb(205,103,103);
    font-size:5em;
    margin-left: 200px;
    margin-right:200px;
}

h2 {
    font-family: cambria;
    color: black;
    font-size:3em;
    margin-left: 200px;
    margin-right: 200px;
}
p {
    margin-left: 200px;
    margin-right: 200px;
}

div.gallery {
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    margin-left: 200px;
    padding: 15px;
    text-align: center;
}