div {
    padding-top: 3em;
}
h1 {
    font-family: verdana;
    color: rgb(205,103,103);
    font-size:5em;
    margin-left: 50px;
    margin-top: 200px;
}
div {
    padding-top: 5em;
}
h2 {
    font-family: cambria;
    color: black;
    font-size:3em;
    margin-left: 50px;
}
p {
    margin-left: 50px;
}
img {
    margin-left: 50px;
}


.tablink {
    background-color:rgb(174,20,20);
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color:rgb(205,103,103);
}

  /* Style the tab content */
.tabcontent {
    color: rgb(255, 255, 255);
    display: none;
    padding: 50px;
    text-align: center;
}

#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}
</style>
</head>
<body>