/* HAMBURGER SIDEBAR */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #597692; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

  /* menu items */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F0EAE0;
    display: block;
    transition: 0.3s;
}

  /* change color when hovering menu items */
.sidebar a:hover {
    color: #CD6767;
}

  /* positioning and styling the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* hamburger to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #597692;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 15px;
}

.openbtn:hover {
    background-color: #444;
}
/* HAMBURGER SIDEBAR END */







/* PORTFOLIO */
h1 {
    font-family: verdana;
    color: #597692;
    font-size:40px;
    margin-left: 15px;
}



/* Specific Experience Titles */
h2 {
    font-family:verdana;
    color:#AE1414;
    margin-left: 15px;
    padding-top: 25px;
}

/* Normal Text */
p {
    font-family:verdana;
    color:#706A63;
    line-height: 1.5em;
    font-size: 14px;
    margin-right: 15px;
    text-align: left;
}





/* Resume Button */
.container1 {
    padding-top: 2em;
    text-align: left;
    margin-left: 15px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #597692;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Resume Button End*/



/* images of Relevant Experiences and description text settings */
img {
    height: auto;
    text-align: right;
    width:100%;
}

.container2 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
}
/* images of Relevant Experiences and description text settings */




/* let's get in touch */
h3 {
    font-family:Verdana;
    font-size: 33px;
    color:#597692;
    text-align: center;
    padding-top: 2em;
    margin-left: 15px;
}

#section2 {
    font-family: Verdana;
    font-size: 16px;
    color: #706A63;
    text-align: center;
    margin-bottom: 5em;
    line-height: 1.5;
}
/* let's get in touch end */
