/* HAMBURGER SIDEBAR */
.sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #597692; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}

  /* menu items */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F0EAE0;
    display: block;
    transition: 0.3s;
    font-family: verdana;
}

  /* change color when hovering menu items */
.sidebar a:hover {
    color: #CD6767;
}

  /* positioning and styling the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* hamburger to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #597692;
    color: #F0EAE0; 
    padding: 10px 15px;
    border: none;
    margin-left: 15px;
}

.openbtn:hover {
    background-color: #597692;
}
/* HAMBURGER SIDEBAR END */



h1 {
    font-family: verdana;
    color: #597692;
    font-size:40px;
    margin-left: 15px;
}

/* WebDesign */
.container1 {
    padding-top: 2em;
    text-align: center;
}

.button1 {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #CD6767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Graphic Design */
.container2 {
    padding-top: 2em;
    text-align: center;
}

.button2 {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #CD6767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Photog */
.container3 {
    padding-top: 2em;
    text-align: center;
}

.button3 {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #CD6767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Leadership */
.container4 {
    padding-top: 2em;
    text-align: center;
}

.button4 {
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #AE1414;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}